.contenido-modulo {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Altura completa para pruebas */
  overflow: hidden;
}

.image-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.modulo-grid {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.grid-diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 50%,
    transparent 50%
  );
  z-index: 3;
}

.grid-diagonal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 4;
  transform: rotate(272deg);
}

.grid-button {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.diagonal-contenido {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
.button-contenido {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: end;
  align-items: end;
  padding: 2%;
}
.contenido-textos {
  width: 50%;
  margin-left: 5%;
  margin-top: 34%;
  box-sizing: border-box;
  max-width: 600px;
  min-width: 300px;
  overflow: hidden;
}
.title-module-estilos {
  width: 100%;
  height: auto;
}

.paragraph-estilos {
  width: 95%;
  height: auto;
}
.arrow {
  transform: rotate(270deg);
  cursor: pointer;
  background: linear-gradient(45deg, #202632, #404656);
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.contenido-gral {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: grid;
  z-index: 4;
  padding: 5% 10%;
  background: rgba(1, 35, 59, 0.6);
}
.gral-marco {
  width: 100%;
  height: 100%;
  position: relative;
}

.marco-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  height: 100%;
  align-items: center;
}

.div1 {
  grid-row: span 2 / span 2;
  display: grid;
  justify-items: center;
}

.div3 {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  display: grid;
  justify-items: center;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
}

.div5 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 1;
  display: grid;
  justify-items: center;
}

.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 3;
  display: grid;
  justify-items: center;
}

.contenido-conductas {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3%;
  position: relative;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  padding: 15%;
}
.module1_2-txt {
  width: 65%;
  height: auto;
  object-fit: contain;
}
.contenido-conductas {
  width: 100%;
  height: 100%;
  background-image: url("../img/modules/module-1/slide-2/marco.png");
  background-position: center;
  background-size: 100% 100%;
}
.contenido-conductas div {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.conductas_img {
  width: 100%;
  height: auto;
}
.module1_2-title {
  z-index: 5;
  width: 60%;
  height: auto;
  top: 2%;
  left: 0;
  right: 0;
  margin: auto;
}
.module1_2-paragraph {
  z-index: 5;
  bottom: 3%;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
  height: auto;
}
.module1_3-paragraph {
  z-index: 1;
  width: 45%;
  left: 5%;
  top: 26%;
  height: auto;
}
.module1_3-comenzar {
  width: 20%;
  height: auto;
  left: 17%;
  bottom: 38%;
  z-index: 1;
}
.z-5 {
  z-index: 5;
  display: grid;
  position: relative;
}
.contenido-test {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-auto-columns: 1fr;
  height: 100%;
  width: 100%;
}
.test_header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1%;
}
.mod_test-body {
  position: relative;
  width: 100%;
  height: 100%;
}
.test_body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  padding-inline-start: 2%;
  padding-inline-end: 8%;
}
.test_footer {
  display: grid;
  justify-items: center;
  align-items: center;
}
.header-conducta {
  width: 60%;
  height: auto;
}
.header-frases {
  width: 50%;
  height: auto;
  object-fit: contain;
}
.footer-txt {
  width: 60%;
  height: auto;
}
.test_1_Prev,
.test_1_Next {
  width: 3%;
  height: auto;
  cursor: pointer;
}
.test_1_Prev {
  left: 1%;
  bottom: 5%;
}
.test_1_Next {
  right: 1%;
  bottom: 5%;
}
.body-questions {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.body-questions img {
  width: 70%;
  height: auto;
  object-fit: contain;
}
.body-answers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.pantera,
.pavorreal,
.delfin,
.buho {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.pantera img,
.pavorreal img,
.delfin img,
.buho img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}
.pantera img:hover,
.pavorreal img:hover,
.delfin img:hover,
.buho img:hover {
  transform: scale(1);
}
.resultadoTest_header {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
.resultadoTest_footer {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}
.header-textResult {
  width: 55%;
}
.footer-continuar {
  width: 15%;
  height: auto;
}
.contenido-resultadoTest {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0;
  justify-content: center;
  align-content: center;
  background: #8a2be20d;
  padding: 2%;
}
.resultadoTest_body {
  display: flex;
  gap: 1rem;
}
.cardTest {
  perspective: 1000px;
  /* transform-style: preserve-3d; */
}
.cardTest-item {
  background-image: url("../img/modules/module-1/slide-5/fondo.png");
  width: 200px;
  height: 300px;

  background-position: center;
  border-radius: 10%;
  position: relative;
  display: grid;
  align-items: end;
  justify-items: center;
}
.cardTest-item .item-testimage {
  top: 10%;
  left: 0;
  width: 100%;
  height: auto;
}

.cardTest-item .item-testhumanImage {
  z-index: 1;
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  align-items: end;
}
.cardTest-item .item-testResult {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.397);
  border-left: none;
  border-right: none;
  width: 100%;
  height: 25%;
  z-index: 1;
  bottom: 20%;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
}
.testResult-relative {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}
.testResult-name {
  width: 40%;
  height: auto;
}

.progress-bar {
  width: 70%;
  height: 8px; 
  background: #e0e0e08c; 
  border-radius: 10px; 
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background: #0497ec; 
  transition: width 1s ease-in-out; 
}
.module1_7-cars {
  bottom: 0;
  left: 0;
  width: 86%;
  height: auto;
  z-index: 2;
}
.module1_7-rec {
  z-index: 1;
  width: 61%;
  right: 0;
  top: 10%;
  height: auto;
}
.module1_7-txt {
  z-index: 1;
  right: 9%;
  top: 19%;
  width: 40%;
}
