.slide_module1_1-title {
  width: 38%;
  height: auto;
  right: 6%;
  bottom: 19%;
  z-index: 1;
}
.slide_module1_1-ubi {
  z-index: 1;
  width: 15%;
  height: auto;
  top: 19%;
  left: 40%;
}
.btn_comenzarModule {
  width: 15%;
  height: auto;
  z-index: 1;
}
#btn_comenzarModule_1 {
  right: 17%;
  bottom: 18%;
}
.slide_module1_1-ints {
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  width: 18%;
  bottom: 3%;
  height: auto;
}

.contenido-modulo {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Altura completa para pruebas */
  overflow: hidden;
}

.image-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.modulo-grid {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.grid-diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 50%,
    transparent 50%
  );
  z-index: 3;
}

.grid-diagonal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 4;
  transform: rotate(272deg);
}

.grid-button {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.diagonal-contenido {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
.button-contenido {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: end;
  align-items: end;
  padding: 2%;
}
.contenido-textos {
  width: 50%;
  margin-left: 5%;
  margin-top: 34%;
  box-sizing: border-box;
  max-width: 600px;
  min-width: 300px;
  overflow: hidden;
}
.title-module-estilos {
  width: 100%;
  height: auto;
}

.paragraph-estilos {
  width: 95%;
  height: auto;
}
.arrow {
  transform: rotate(270deg);
  cursor: pointer;
  background: linear-gradient(45deg, #202632, #404656);
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.contenido-gral {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: grid;
  z-index: 4;
  padding: 5% 10%;
  background: rgba(1, 35, 59, 0.6);
}
.gral-marco {
  width: 100%;
  height: 100%;
  position: relative;
}

.marco-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  height: 100%;
  align-items: center;
}

.div1 {
  grid-row: span 2 / span 2;
  display: grid;
  justify-items: center;
}

.div3 {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  display: grid;
  justify-items: center;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
}

.div5 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 1;
  display: grid;
  justify-items: center;
}

.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 3;
  display: grid;
  justify-items: center;
}

.contenido-conductas {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3%;
  position: relative;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  padding: 15%;
}
.module1_2-txt {
  width: 65%;
  height: auto;
  object-fit: contain;
}
.contenido-conductas {
  width: 100%;
  height: 100%;
  background-image: url("../img/modules/module-1/slide-2/marco.png");
  background-position: center;
  background-size: 100% 100%;
}
.contenido-conductas div {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.conductas_img {
  width: 100%;
  height: auto;
}
.module1_2-title {
  z-index: 5;
  width: 60%;
  height: auto;
  top: 2%;
  left: 0;
  right: 0;
  margin: auto;
}
.module1_2-paragraph {
  z-index: 5;
  bottom: 3%;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
  height: auto;
}
.module1_3-paragraph {
  z-index: 1;
  width: 45%;
  left: 5%;
  top: 26%;
  height: auto;z-index: 2 ;
}
.module1_3-comenzar {
  width: 20%;
  height: auto;
  left: 17%;
  bottom: 38%;
  z-index: 2;
}
.z-5 {
  z-index: 5;
  display: grid;
  position: relative;
}
.contenido-test {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-auto-columns: 1fr;
  height: 100%;
  width: 100%;
}
.test_header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1%;
}
.mod_test-body {
  position: relative;
  width: 100%;
  height: 100%;
}
.test_body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  padding-inline-start: 2%;
  padding-inline-end: 8%;
}
.test_footer {
  display: grid;
  justify-items: center;
  align-items: center;
}
.header-conducta {
  width: 60%;
  height: auto;
}
.header-frases {
  width: 50%;
  height: auto;
  object-fit: contain;
}
.footer-txt {
  width: 60%;
  height: auto;
}
.test_1_Prev,
.test_1_Next {
  width: 3%;
  height: auto;
  cursor: pointer;
}
.test_1_Prev {
  left: 1%;
  bottom: 5%;
}
.test_1_Next {
  right: 1%;
  bottom: 5%;
}
.body-questions {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.body-questions img {
  width: 70%;
  height: auto;
  object-fit: contain;
}
.body-answers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.pantera,
.pavorreal,
.delfin,
.buho {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.pantera img,
.pavorreal img,
.delfin img,
.buho img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Asegurar posicionamiento relativo en los contenedores */
.body-answers > div > div {
  position: relative;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  transform: scale(0.9);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.body-answers > div > div:hover {
  transform: scale(1);
}

/* Estilos para textos largos */
.answer-text {
  box-sizing: border-box;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  /* font-size: clamp(10%, 60%, 55%); */
  width: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #020617;
  font-size: 30%;
}
.resultadoTest_header {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
.resultadoTest_footer {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}
.header-textResult {
  width: 55%;
}
.footer-continuar {
  width: 15%;
  height: auto;
}
.contenido-resultadoTest {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0;
  justify-content: center;
  align-content: center;
  background: #8a2be20d;
  padding: 2%;
}
.resultadoTest_body {
  display: flex;
  gap: 1rem;
}
.cardTest {
  perspective: 1000px;
  /* transform-style: preserve-3d; */
}
.cardTest-item {
  background-image: url("../img/modules/module-1/slide-5/fondo.png");
  width: 200px;
  height: 300px;
  overflow: hidden;
  background-position: center;
  border-radius: 10%;
  position: relative;
  display: grid;
  align-items: end;
  justify-items: center;
}
.cardTest-item .item-testimage {
  top: 10%;
  left: 0;
  width: 100%;
  height: auto;
}

.cardTest-item .item-testhumanImage {
  z-index: 1;
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  align-items: end;
}
.cardTest-item .item-testResult {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.397);
  border-left: none;
  border-right: none;
  width: 100%;
  height: 25%;
  z-index: 1;
  bottom: 20%;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
}
.testResult-relative {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}
.testResult-name {
  width: 40%;
  height: auto;
}

.testResult-text {
  color: #fff;
}


.progress-bar {
  width: 70%;
  height: 8px;
  background: #e0e0e08c;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background: #0497ec;
  transition: width 1s ease-in-out;
}
.module1_7-cars {
  bottom: 0;
  left: 0;
  width: 86%;
  height: auto;
  z-index: 2;
}
.module1_7-rec {
  z-index: 1;
  width: 61%;
  right: 0;
  top: 10%;
  height: auto;
}
.module1_7-txt {
  z-index: 1;
  right: 9%;
  top: 19%;
  width: 40%;
}

.btn_estilosComunicacion {
  width: 75%;
  height: auto;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  transition: all 0.3s ease;
  left: 9%;
  top: 14%;  z-index: 1;
  position: absolute;
  transition: all 0.3s ease;
}

.hov_estilosComunicacion {
  position: absolute;
  display: none;
  z-index: 2;
}

/* Posiciones específicas */
#btn_estilosComunicacion_1 {
  left: 8.8%;
  top: 13%;
}
#btn_estilosComunicacion_2 {
  left: 5.3%;
  top: 31%;
}
#btn_estilosComunicacion_3 {
  top: 46.7%;
  left: 1.4%;
}
#btn_estilosComunicacion_4 {
  left: 1%;
  top: 70.5%;
}
.hov_estilosComunicacion {
  z-index: 1;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 2;
}
#hov_estilosComunicacion_1 {
  width: 45%;
}
#hov_estilosComunicacion_2 {
  width: 41%;
}
#hov_estilosComunicacion_3 {
  width: 39%;
}
#hov_estilosComunicacion_4 {
  width: 45%;
}

.slide1-7-txt {
  width: 50%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}
.slide1-10-txt {
  width: 50%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}

.pleca-slide-11 {
  width: 50%;
  height: 25%;
  left: 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0 20px 20px 0;
  bottom: 23%;
  z-index: 2;
}
.container-dinamico-conducta {
  width: 50%;
  height: 72%;
  z-index: 1;
  top: 10%;
  right: 9%;
  display: grid;
}
.dinamico-conducta {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.conducta-i {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.conducta-i:nth-child(1),
.conducta-i:nth-child(3) {
  display: flex;
  justify-content: end;
}

/* Elementos en posiciones 2 y 4 */
.conducta-i:nth-child(2),
.conducta-i:nth-child(4) {
  display: flex;
  justify-content: start;
}
.conducta-i .i-img {
  width: 75%;
  height: auto;
}

.slide-11_txt{
  width: 60%;
  height: auto;
  top: 0;
  left: 6%;
  bottom: 0;
  margin: auto;
}
.slide1-12-piloto{
  bottom: 0;
  right: 0;
  width: 60%;
  height: auto;
  z-index: 1;
}
.pleca-slide1-12{
  width: 60%;
  height: 50%;
  left: 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0 20px 20px 0;
  bottom: 23%;
  z-index: 2;
}
.slide1-12-txt{
  width: 70%;
  height: auto;
  top: 10%;
  margin: auto;
  left: 0;
  right: 0;
}

@media (min-width: 1199px) and (max-width: 1290px) {
}
@media (min-width: 1360px) {
  .answer-text {
    font-size: 60%;
  }
}
@media (min-width: 1400px) and (max-width: 1500px) {
}
@media (min-width: 1600px) {
}
@media (min-width: 1532px) and (max-width: 1539px) and (max-height: 864px) {
}


#modal_trofeo1,#modal_trofeo2,#modal_trofeo3{
  top: 2%;
  width: 74%;
  right: 0%;
  z-index: 2;
  }  

  #btn_cls_slide7_modal{
    bottom: 10%;width: 15%;left: 85%;z-index: 2;
  }