.slide_juego_mod4{height:100%;width:100%;top:0;right:0;display:none}

#drag_1{bottom:16%;left:21%;width:10.5%}
#drag_2{bottom:16%;left:32%;width:7%}
#drag_3{bottom:16%;left:40%;width:9%}
#drag_4{bottom:16%;left:50%;width:7.5%}
#drag_5{bottom:16%;left:59%;width:10%}
#drag_6{bottom:16%;left:71%;width:8.3%}
#drag_7{bottom:16%;left:81%;width:10%}
#drag_8{bottom:16%;left:92%;width:7.5%}
#drag_9{bottom:9%;left:26%;width:10%}
#drag_10{bottom:9%;left:37%;width:10.2%}
#drag_11{bottom:9%;left:48%;width:9.2%}
#drag_12{bottom:9%;left:58%;width:10%}
#drag_13{bottom:9%;left:69%;width:10%}
#drag_14{bottom:9%;left:80%;width:10%}
#drag_15{bottom:9%;left:91%;width:7.2%}
#drag_16{bottom:1.55%;left:25%;width:11%}
#drag_17{bottom:1.5%;left:36%;width:7%}
#drag_18{bottom:1%;left:44%;width:14%}
#drag_19{bottom:1%;left:59%;width:6.3%}
#drag_20{bottom:1.5%;left:66%;width:11%}
#drag_21{bottom:1.4%;left:78%;width:7.4%}
#drag_22{bottom:2%;left:87%;width:8%}

#drop_1{top:33%;left:45%;width:5%}
#drop_2{top:10%;left:56%;width:5%}
#drop_3{top:23%;left:70%;width:5%}
#drop_4{top:50%;left:70%;width:5%}
#drop_5{top:47%;left:75%;width:5%}
#drop_6{top:43%;left:83%;width:5%}
#drop_7{top:56%;left:96%;width:5%}
#drop_8{top:66%;left:91%;width:5%}
#drop_9{top:61%;left:80%;width:5%}
#drop_10{top:61%;left:70%;width:5%}
#drop_11{top:57%;left:60%;width:5%}
#drop_12{top:65%;left:57%;width:5%}
#drop_13{top:59%;left:54%;width:5%}
#drop_14{top:64%;left:49%;width:5%}
#drop_15{top:59%;left:44%;width:5%}
#drop_16{top:60%;left:31%;width:5%}
#drop_17{top:57%;left:27%;width:5%}
#drop_18{top:38%;left:33%;width:5%}
#drop_19{top:35%;left:37%;width:5%}
#drop_20{top:24%;left:44%;width:5%}
#drop_21{top:40%;left:57%;width:5%}
#drop_22{top:40%;left:47%;width:5%}